[submodule "book_upload"]
	path = book_upload
	url = https://github.com/Tomoo-Suzuki/book_upload.git
[submodule "db_book"]
	path = db_book
	url = https://github.com/Tomoo-Suzuki/db_book.git
[submodule "graphql_book"]
	path = graphql_book
	url = https://github.com/Tomoo-Suzuki/graphql_book.git
